<div class="container">
    <div id="pdfTable" #pdfTable>
      <h2>Angular HTML To PDF Generator Example - FreakyJolly.com</h2>
      <table datatable class="row-border hover" class="content-table" id="example" style="padding: 30px;">
        <thead style="background-color: rgb(5, 184, 255);" > 
          <tr>
            <th>Material Number</th>
            <th>Document Year</th>
            <!-- <th>Reference Doc Num</th> -->
            <th>Item</th>
            <th>Material</th>
            <th >Plant</th>
            <!-- <th>Entry Date</th> -->
            <!-- <th>Entry Time</th> -->
            
            <!-- <th>Version for Slip</th> -->
            
          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let knhs of filtereddata" style="background-color: white;text-align: center;">
          <td>{{knhs.MAT_DOC._text}}</td>
          <td>{{knhs.DOC_YEAR._text}}</td>
          <!-- <td>{{knhs.REF_DOC_IT._text}}</td> -->
          <td>{{knhs.MATDOC_ITM._text}}</td>
          <td>{{knhs.MATERIAL._text}}</td>
          <td>{{knhs.PLANT._text}}</td>
          <!-- <td>{{knhs.ENTRY_DATE._text}}</td> -->
          <!-- <td>{{knhs.ENTRY_TIME._text}}</td> -->
          
          <!-- <td>{{knhs.VER_GR_GI_SLIP._text}}</td> -->
          <!-- <td>{{knhs.BEWTP._text}}</td> -->
          </tr>
        </tbody>
      </table>
     
    </div>
    <button class="btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>
  </div>